* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f1;
}

// GRID //
.row::before,
.row::after {
    display: table;
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    /* padding: 10px; */
}

//@ setting COLUMNS //
@for $i from 1 through 12 {

    .col-#{$i} {
        width: 8.333% * $i;
    }

}