//  ------- MOBILE FIRST ------
// BREAK-POINTS = 576px 768px 992px

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    background-color: #f4f4f1;
}

// GRID //
.row::before,
.row::after {
    display: table;
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
}

//@ setting COLUMNS //
@for $i from 1 through 12 {

    .col-#{$i} {
        width: 8.333% * $i;
    }
}

@media (max-width: 576px) {
    @for $i from 1 through 12 {
        .col-s-#{$i} {
            width: 8.333% * $i;
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    @for $i from 1 through 12 {

        .col-m-#{$i} {
            width: 8.333% * $i;
        }
    }
}

// Menu full styles --  BeHAVOIUR of menu and content on diffent states and medias
.menu {
    width: 180px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    background-color: $sidebar-color;
    color: #999999;
    transition: .3s linear;
    z-index: 1;
}

// content when menu is showed
.content {
    width: calc(100% - 20px);
    transition: 0.3s linear;
    padding: 5px;
    margin-right: auto;
    margin-left: 180px;
}

/// menu toggler THE MAIN BEHAVOIUR STYLES OFF MENU ARE IN LAYOUT
.menu.menuHidden {
    left: -100%;

    .logo {
        .hamburger {
            left: 4px;
            top: 4px;
            position: fixed;

            span {
                background-color: $orange-dark;
            }

            &:hover span {
                background-color: #777;
            }

            &:after {
                display: block;
                content: "";
                width: 100px;
                height: 100px;
                background-color: rgba(20, 20, 0, .2);
                position: fixed;
                top: -14px;
                left: -60px;
                z-index: -1;
                transform: rotate(45deg)
            }
        }
    }

    &+.content {
        margin-left: 10px;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 60px;
    }

    .menu {
        width: 260px;
        overflow: hidden;
    }

    .content {
        padding: 15px;
        margin-left: 260px;
        width: calc(100% - 260px);
    }

    .menu.menuHidden {
        position: fixed;
        width: 45px;
        left: 0;

        .sidebar li span,
        .manager span,
        .manager p,
        .logo img {
            display: none;
        }

        .manager img {
            position: relative;
            width: 25px;
            height: 25px;
            left: -8px;
        }

        .logo>.hamburger {
            left: -3px;
            top: -2px;
            position: relative;

            &:hover span {
                background-color: #fff;
            }

            span {
                background-color: #ddd;
            }

            &:after {
                display: none;
            }
        }

        &+.content {
            width: calc(100% - 45px);
            margin-left: 45px;
        }
    }
}

// blocking site when some poputs and menu is active on mobiles:
.blockOverlay {
    overflow: hidden;
}