/* Colors */
$orange-dark:#f58220;
$orange: #ffa200;
$dark: #333333;
$sidebar-color: #191919;
$grey-dark: #979797;
$grey-light: #bababa;
$grey-disabled: #f5f5f2;
$blue: #56819f;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans",
Helvetica,
Arial;
$paragraph-font: "Open Sans",
Helvetica,
Arial;