// Global media for tablets // Should it be on each site? 
@media(max-width: 991px) {
    body {
        padding: 0;
    }

    .menu {
        min-height: 100vh;

    }

    .sidebar {
        position: static;
        height: auto;
        min-height: 100px;


    }

    .menu.dezactive {
        .navbar {
            display: none;
        }
    }
}