.date-period {
    max-width: 325px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    color: $grey-light;
    background-color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;

    &:hover {
        border: 1px solid #000;
    }

    input {
        max-width: 130px;
        border: none;
        color: $grey-light;
        background-color: transparent;
        margin: 0;
        padding: 0 2px;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button,
        &::-webkit-clear-button,
        &::-webkit-calendar-picker-indicator {
            -webkit-appearance: none;
            margin: 0;
            display: none
        }

        &:hover {
            color: #000;
        }
    }

    button {
        border: none;
        background-color: transparent;
        padding-right: 5px;
        padding-left: 2px;
        color: $grey-light;
        color: #fff;
        position: relative;
        top: 2.5px;
    }

    &:hover button {
        color: #000
    }
}

@media (min-width: 577px) {
    .date-period {
        font-size: 14px;

        input {
            padding-left: 10px;
            max-width: 45%;
        }

        button {
            padding-right: 20px;
        }
    }
}