//  ------- MOBILE FIRST ------

// Menu full styles
.menu {
    width: 180px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    background-color: $sidebar-color;
    color: #999999;
    transition: .3s linear;
    // z-index: 0;
}

// for not active menu on phones
.menu.disactive {
    left: -100%;
}

// content when menu is showed
.content {
    margin-left: 30px;
    transition: 0.3s linear;
}

// change content when menu is hiding
.content.menuactive {
    margin-left: 180px;

}

@media (min-width:992px) {
    body {
        padding-top: 60px;
    }

    .menu {
        width: 260px;
        overflow: hidden;
    }

    .content {
        margin-left: 45px;
    }

    .content.menuactive {
        margin-left: 260px;
    }
}

[class*=icon] {
    cursor: pointer;
}

//@side bar
.sidebar {
    font-size: 12px;
    // z-index: -2;

    // Logo //
    .logo {

        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .hamburger {
            transform: rotate(90deg);
            cursor: pointer;
            transition: .5s;

            &:hover span {
                background-color: #fff;
            }

            &.menuHidden {
                left: 4px;
                top: 4px;
                position: fixed;

                span {
                    background-color: rgba(241, 77, 77, 0.5);
                }

                &:hover span {
                    background-color: #777;
                }

                &:after {
                    display: block;
                    content: "";
                    width: 100px;
                    height: 100px;
                    background-color: rgba(20, 20, 0, .2);
                    // border-radius: 50%;
                    position: fixed;
                    top: -14px;
                    left: -60px;
                    z-index: -1;
                    transform: rotate(45deg)
                }
            }
        }

        span {
            width: 5px;
            height: 25px;
            display: inline-block;
            background-color: $grey-light;
        }
    }

    // left side - sites navigation
    .navigation {
        line-height: 40px;
        padding-bottom: 5px;
        border-bottom: 1px solid;
        margin-bottom: 10px;
        list-style: none;

        li {
            padding-left: 15px;
            transition: 0.1s;

            [class*=icon-] {
                padding-right: 15px;
            }

            a {
                display: block;
                color: #999999;
                text-decoration: none;
            }

            i {
                position: relative;
                top: 3px;
            }

            &:hover {
                background-color: #282828
            }

            &:hover i {
                color: #fff;
            }

            // active li //
            &.active {
                position: relative;
                background-color: #282828;

                a {
                    color: #fff
                }

                &::before {
                    display: block;
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    left: 1px;
                    background-color: $orange;
                }
            }
        }
    }

    .manager {

        padding: 4px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #282828;
        }

        p {
            width: 100%;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        span {
            color: $blue;
            padding-left: 15px;
        }
    }
}

// Large devices ( tables, desktops, 992px and up)

@media (min-width: 992px) {
    .sidebar {
        font-size: 14px;

        // z-index: -1;
        .logo {
            background-color: $sidebar-color;
            height: 60px;
        }

        // Logo //
        .logo>.hamburger {
            &.menuHidden {
                left: -3px;
                top: -2px;
                position: relative;

                &:hover span {
                    background-color: #fff;
                }

                span {
                    background-color: #ddd;

                }

                &:after {
                    display: none;

                }
            }
        }
    }

    .menu.disactive {
        position: fixed;
        width: 45px;
        left: 0;

        .sidebar li span,
        .manager span,
        .manager p,
        .logo img {
            display: none;
        }

        .manager img {
            position: relative;
            width: 25px;
            height: 25px;
            left: -8px;
        }
    }
}